@{
    ViewBag.Title = " CreatePlaylist";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <title>Musik</title>
    <link rel="stylesheet" href="~/Content/Site.css">
    <style>
    </style>
    <script src="https://kit.fontawesome.com/60e83084da.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();


        });
        $(document).ready(function () {
            $('.add-songs-button').click(function () {
                var playlistId = $(this).data('playlist-id');
                window.location.href = '/Home/SelectSongs?playlistId=' + playlistId;
            });
        });
    </script>

</head>
<body>
    
    <div class="container py-4">
        <h3 class="text-center text-uppercase"></h3>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    @using (Html.BeginForm("CreatePlaylist", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            <label>Tên Playlist:</label>
                            <input type="text" id="tenplaylist" name="tenplaylist" class="form-control" />
                        </div>
                        <div class="form-group text-right">
                            <input type="submit" id="btnUpload" class="btn btn-secondary btn-lg" value="Upload" />
                        </div>

                        <div class="form-group">
                            <label>Chọn ảnh bìa:</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" id="pictureupload" name="pictureupload" class="custom-file-input" />
                                    <label class="custom-file-label"></label>
                                </div>
                            </div>
                        </div>


                    }
                </div>



                <table id="dataTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="album-cover">Ảnh bìa</th>
                            <th>Tên Playlist</th>
                            <th>Add Songs</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="album-cover">
                                    <img src="@Url.Content(@item.hinh)" width="100" height="100">
                                </td>
                                <td>@item.tenplaylist</td>
                                <td>
                                    <button type="button" class="btn btn-primary add-songs-button" data-playlist-id="@item.idPlaylist">Add Songs</button>
                                </td>
                                <td>
                                    @using (Html.BeginForm("DeletePlaylist", "Home", new { idPlaylist = item.idPlaylist }, FormMethod.Post, new { onsubmit = "return confirm('Are you sure you want to delete this playlist?');" }))
                                    {
                                        <button type="submit" class="btn btn-danger delete-button"><i class="fa fa-trash"></i> Delete</button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                

                <script>

                </script>

                <style>
                    /* Album cover column */
                    .album-cover {
                        width: 200px;
                    }
                </style>

            </div>
        </div>
    </div>
</body>
</html>  